services:
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: url_shortener
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: ./back
    command: sh -c "bunx prisma migrate deploy && node dist/src/main"
    env_file: ./back/.env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/url_shortener
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy

  front:
    build: ./front
    env_file: ./front/.env
    environment:
      API_URL: http://api:3000
    ports:
      - "3001:3001"
    depends_on:
      - api

volumes:
  postgres_data:
